# These are needed in order to make bitbake pick up the includes
BSPDIR := "${TOPDIR}/.."
BBPATH := "${TOPDIR}:${BSPDIR}/sources/meta-pelux"

require conf/variant/common/bblayers.conf

BBLAYERS += "\
    ${BSPDIR}/sources/meta-pelux/meta-intel-extras  \
    ${BSPDIR}/sources/meta-intel                    \
    ${BSPDIR}/sources/meta-arp                      \
"
