require conf/variant/common/local.conf

MACHINE = "arp"

IMAGE_FSTYPES += "wic wic.bmap wic.bz2"

EFI_PROVIDER = "grub-efi"

PREFERRED_PROVIDER_iasl-native = "iasl-native"

WKS_FILE = "mkefidisk-multiboot.wks"

IMAGE_INSTALL_append = " grub-efi"

LICENSE_FLAGS_WHITELIST = "commercial_faad2"
