require conf/variant/common/local.conf

MACHINE = "arp"

EFI_PROVIDER = "grub-efi"

PREFERRED_PROVIDER_iasl-native = "iasl-native"

WKS_FILE = "mkefidisk-multiboot.wks"

IMAGE_INSTALL_append = " grub-efi"
