# These are needed for bitbake to pick up the includes
BSPDIR := "${TOPDIR}/.."
BBPATH := "${TOPDIR}:${BSPDIR}/sources/meta-pelux"

require conf/variant/common/bblayers.conf
require conf/variant/common/bblayers-qtauto.conf

BBLAYERS += " \
    ${BSPDIR}/sources/meta-freescale-distro \
    ${BSPDIR}/sources/meta-freescale \
    ${BSPDIR}/sources/meta-fsl-bsp-release/imx/meta-bsp \
    ${BSPDIR}/sources/meta-smarcimx8m \
    ${BSPDIR}/sources/meta-boot2qt/meta-fsl-extras \
"
