require conf/variant/common/local.conf

MACHINE = "smarcimx8m2g"

LICENSE_FLAGS_WHITELIST = "commercial_faad2"

# In order to accept Freescale EULA, uncomment the following line:
#ACCEPT_FSL_EULA = "1"

# networkmanager conflicts with connman
MACHINE_EXTRA_RDEPENDS_remove = "networkmanager"

BBMASK = "meta-fsl-bsp-release/imx/meta-bsp/recipes-connectivity/connman/"
BBMASK += "/meta-smarcimx8m/recipes-core/psplash/"
