require conf/variant/common/local.conf

MACHINE = "qemux86-64"

# Target Static IP address. Needed for ssh and ping test.
STATIC_IP_ADDRESS = "192.168.7.2"

# Enable testing
INHERIT += " \
    testimage \
    testexport \
"

# All test suites to run
TEST_SUITES = " \
    date \
    ping \
    ssh \
    scp \
    df \
    parselogs \
    softwarecontainer \
    node_state_manager \
    dlt_daemon \
    systemd.SystemdBasicTests.test_systemd_basic \
    systemd.SystemdBasicTests.test_systemd_failed \
    systemd.SystemdBasicTests.test_systemd_list \
    systemd.SystemdJournalTests.test_systemd_journal \
    rpm.RpmBasicTest \
    rpm.RpmInstallRemoveTest.test_rpm_install \
    rpm.RpmInstallRemoveTest.test_rpm_query_nonroot \
    rpm.RpmInstallRemoveTest.test_rpm_remove \
"
