# This is needed for bitbake to pick up the includes
BSPDIR := "${TOPDIR}/.."
BBPATH := "${TOPDIR}:${BSPDIR}/sources/meta-pelux"

require conf/variant/common/bblayers.conf
require conf/variant/common/bblayers-qtauto.conf

BBLAYERS += "\
    ${BSPDIR}/sources/meta-tegra \
    ${BSPDIR}/sources/meta-pelux/meta-tegra-extras \
    ${BSPDIR}/sources/meta-boot2qt/meta-tegra-extras \
"
