require conf/variant/common/local.conf

MACHINE = "arp"

EFI_PROVIDER = "grub-efi"

PREFERRED_PROVIDER_iasl-native = "iasl-native"

WKS_FILE = "mkefidisk-multiboot.wks"
WIC_CREATE_EXTRA_ARGS = "--no-fstab-update"

IMAGE_INSTALL_append = " grub-efi"

KERNEL_MODULE_AUTOLOAD += "hid-multitouch video i915"
