# These are needed for bitbake to pick up the includes
BSPDIR := "${TOPDIR}/.."
BBPATH .= ":${BSPDIR}/sources/meta-pelux"

require conf/variant/common/bblayers.conf
require conf/variant/common/bblayers-qtauto.conf

BBLAYERS += "\
    ${BSPDIR}/sources/meta-pelux/meta-intel-extras  \
    ${BSPDIR}/sources/meta-intel                    \
"


