[Unit]
Description=Neptune
After=dbus.service dbus-session.service systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/appman -r -c /opt/am/config.yaml -c /opt/am/sc-config.yaml -c am-config.yaml --dbus session Main.qml -platform eglfs
Restart=on-failure
WorkingDirectory=/opt/neptune
Environment=QT_IM_MODULE=qtvirtualkeyboard
Environment=XDG_RUNTIME_DIR=/tmp

[Install]
WantedBy=multi-user.target
