[Unit]
Description=Neptune
After=dbus-session@root.service
Requires=dbus-session@root.service

[Service]
ExecStart=/usr/bin/appman -r -c /opt/am/config.yaml -c /opt/am/sc-config.yaml -c am-config.yaml --dbus session Main.qml -platform eglfs
Restart=on-failure
WorkingDirectory=/opt/neptune
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/root/dbus/user_bus_socket
Environment=QT_IM_MODULE=qtvirtualkeyboard
Environment=XDG_RUNTIME_DIR=/tmp

[Install]
WantedBy=multi-user.target
