# This is needed for bitbake to pick up the includes
BSPDIR := "${TOPDIR}/.."
BBPATH .= ":${BSPDIR}/sources/meta-pelux"

require conf/variant/common/bblayers.conf

BBLAYERS += "\
    ${BSPDIR}/sources/meta-pelux/meta-rpi-extras \
    ${BSPDIR}/sources/meta-raspberrypi           \
"


