[Unit]
Description=Neptune
After=dbus-session@root.service
Requires=dbus-session@root.service

[Service]
ExecStart=/opt/neptune3/neptune3-ui -r --dbus session -c am-config-neptune.yaml -platform eglfs $EXTRA_ARGUMENTS
Restart=on-failure
WorkingDirectory=/opt/neptune3
Environment=HOME=/home/%u/
Environment=LC_ALL=en_US
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/root/dbus/user_bus_socket
Environment=QT_IM_MODULE=qtvirtualkeyboard
Environment=XDG_RUNTIME_DIR=/tmp
Environment=QTWEBENGINE_CHROMIUM_FLAGS="--no-sandbox --single-process"

[Install]
WantedBy=multi-user.target
