[Unit]
Description=Mopidy media service
User=mopidy
Group=mopidy
 
[Install]
WantedBy=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/mopidy
